/* @font-face {
  font-family: "angularicons";
  style: normal;
  weight: 400;
  stretch: 100;
  index: 1;
  src: url(https://bootflat.github.io/angularicons/angularicons.woff);
}

@font-face {
  font-family: "glyphicons-halflings-regular";
  src: url(https://bootflat.github.io/fonts/glyphicons-halflings-regular.woff);
} */

body {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.icon[data-icon]::before {
  content: attr(data-icon);
}

.avatar-image {
  /* border-radius: 50%; */
  width: 84px;
  height: 94px;
  display: block;
  background-image: url(../assets/dni-img.JPG);
  background-position: center;
  background-size: cover;
  content: ' ';
}

.avatar-container {
  display: flex;
  align-items: center;
}

.name-holder {
  font-size: 4rem
}

.about {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.about .popover {
  display: block;
  position: relative;
  max-width: initial;
}

.about .popover.bottom {
  margin-top: initial;
}

.user-data {
  margin-top: 10px;
}

.addon-fixture {
  min-width: 11rem;
}

div.input-group input {
  height: 2rem;
}
div.input-group * {
  padding: 0;
}

.sparse {
  display: flex;
  justify-content: space-between;
}

.additional-knowledge {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.additional-knowledge > * {
  flex-basis: 15%;
}

.image-icon {
  max-width: 14px;
  max-height: 14px;
}

div.time {
  white-space: nowrap;
  overflow: hidden;
}

/* .formation {
  margin-top: 1rem;
} */

.page-margin {
  --margin: 4rem;
  margin-left: var(--margin);
  margin-right: var(--margin);
}

:root {
  --background: #b40000;
  --ribbon-op: 0.3;
  --text-color: white;
}

#github-ribbon {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 14rem;
  right: 20rem;
  z-index: 10000;
}

#github-ribbon > *::before {
  content: ' ';
  height: 42px;
  width: 42px;
  top: 9px;
  left: -21px;
  transform: rotateZ(45deg);
  background-color: var(--background);
  display: block;
  position: absolute;
  z-index: -1;
}

#github-ribbon > * {
  opacity: var(--ribbon-op);
  background-color: var(--background);
  color: var(--text-color);
  display: block;
}

#github-ribbon a {
  text-decoration: none;
  color: var(--text-color);
}

#github-ribbon > * {
  position: relative;
  width: 25rem;
  padding: 1rem;
  text-align: center;
}
